*.tmp
*.bak
*.swp
*~.nib
*.log
*.lck
*.bin

/HeldCore/.classpath
/HeldCore/.project
/HeldCore/.gradle/
/HeldCore/.settings/
/HeldCore/bin/
/HeldCore/build/
/HeldCore/config/
/HeldCore/eclipse/
/HeldCore/mods/
/HeldCore/resourcepacks/
/HeldCore/saves/
/HeldCore/stats/