# GuiContainer
#public bdd.i #FD:GuiContainer/field_147003_i #guiLeft
#public bdd.r #FD:GuiContainer/field_147009_r #guiTop
public net.minecraft.client.gui.inventory.GuiContainer field_147003_i #guiLeft
public net.minecraft.client.gui.inventory.GuiContainer field_147009_r #guiTop

# GuiScreen
public net.minecraft.client.gui.GuiScreen field_146292_n #buttonList

# GuiButton
public net.minecraft.client.gui.GuiButton field_146120_f #width
public net.minecraft.client.gui.GuiButton field_146121_g #height

# MinecraftServer
public net.minecraft.server.MinecraftServer field_71308_o #anvilFile
